<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th> Body</th>
        <th>Created</th>
        <th>Modified</th>
       
    </tr>
​
<?php foreach ($results as $result): ?>
     <tr>
        <td> <?php echo h($result['Post']['id']); ?> </td>
        <td> <?php echo h($result['Post']['title']); ?> </td>
        <td> <?php echo h($result['Post']['body']); ?> </td>
        <td> <?php echo h($result['Post']['created']); ?> </td>
        <td> <?php echo h($result['Post']['modified']); ?> </td>
        
     </tr>
     <?php endforeach; ?>
</table>